* {  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: clamp(40%, 1% + 2vw, 62.5%);
}

body {
  color: #323238;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;

  height: 100vh;
  background-color: #ffffff;
  display: grid;
  place-content: center;
}

#app {
  display: grid;
  grid-template-areas: 
  "timer sound-cards"
  "controls sound-cards";
}

#timer {
  grid-area: timer;
  display: flex;
  align-items: end;
  margin-bottom: 1.7rem;

  font-size: 12.6rem;
  font-weight: 500;
}

#controls {
  grid-area: controls;
  display: flex;
  align-items: start;
  gap: 4rem;
}

#controls button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

#sound-cards {
 grid-area: sound-cards;
 display: grid;
 grid-template-columns: 1fr 1fr;
 gap: 3.2rem;
 margin-left: 19.2rem;
}

#sound-cards button {
  width: 13.8rem;
  height: 15.2rem;
  background-color: #E1E1E6;

  border: 0;
  border-radius: 2.4rem;
  cursor: pointer;  
}

#sound-cards .selected,
.selected svg path {
  fill: #ffffff; 
  background-color: #02799D;
}

.running .btn-play,
html:not(.running) .btn-pause {
  display: none;
}